<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Link 1</a>
      <a mat-list-item routerLink="dodecahedrom">Link 2</a>
      <a mat-list-item routerLink="heptagonal">Link 3</a>
      <a mat-list-item routerLink="hexagon">Link 4</a>
      <a mat-list-item routerLink="octagon">Link 5</a>
      <a mat-list-item routerLink="pyramid">Link 6</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle the Siddhartha Navy"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><i class="fas fa-university fa-2x fa-pull-left"></i>Angola Victrola </span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
